pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
tmp/
logs/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.lein-env
.idea
*.iml
*.log
profiles.clj
*.DS_Store
dev_environment
*.#*
